@import "vars"

/*==========  Desktop First  ==========*/


@media only screen and (max-width : 1350px)
  .main-home__slider
    width: 860px

  .main-home .box-column
    width: calc(100% - 860px)

  .list-characteristics-products, .box-sample
    font-size: 11px

  .price
    font-size: 16px

  .name-products
    min-height: 38px

  .about-content
    padding: 0 0 0 40px

  .about-content__number
    margin: 0 20px 25px 0

  footer:before
    width: calc(100% - 40px)



@media only screen and (max-width : 1300px)
  .col-20
    width: 25%

  .name-products
    min-height: auto

  .list-characteristics-products, .box-sample
    font-size: inherit

@media only screen and (max-width : 1250px)
  .phones-wrapper
    margin: 0 auto




/* Medium Devices, Desktops */
@media only screen and (max-width : 1199px)
  .main-home__slider
    width: 660px

  .main-home .box-column
    width: calc(100% - 660px)

  .phone-box
    margin: 0 20px 0 0

  .logo
    max-width: 140px

  .slogan-company
    font-size: 12px
    max-width: 150px

  .menu-item
    margin: 0 20px 0 0

  .form-search
    width: calc(100% - 248px - 370px)

  .menu
    padding: 6px 20px
    margin: 0 auto 0 0

  .schedule
    font-size: 11px
    p
      font-size: 12px
      margin: 0 0 5px

  .container
    padding: 0 20px

  .popular-category-slider, .staff-slider, .reviews-slider
    padding-left: 20px

  .basket-icons
    width: 40px
    height: 40px
    padding: 12px

  .logo-brands
    max-width: 136px
    height: 60px

  .about-img
    max-width: 400px

  .about-content
    width: calc(100% - 400px)
    h2
      margin: 0 0 15px

  h3
    font-size: 16px

  .about
    padding: 60px 0 70px




@media only screen and (max-width : 1160px)
  .footer-top .container
    padding: 34px 20px 0

  .footer-bottom .container
    padding: 0 20px

  .footer-item:nth-child(3)
    margin: 0 auto

  .footer-bottom-line .container
    padding: 25px 20px 47px

@media only screen and (max-width : 1080px)
  .col-20
    width: 33.3%

  .advantages-wrapper
    padding: 0
    justify-content: space-around

@media only screen and (max-width : 992px)
  .slogan-company
    display: none

  .logo
    margin: 0

  .menu-links
    font-size: 14px

  .header-bottom .container
    padding: 0

  .form-search
    width: calc(100% - 320px - 248px)

  .header-dropDown
    left: 0

  .main-home__slider
    width: 60%

  .main-home .box-column
    width: 40%

  .main-home__slider-box
    padding: 70px 30px

  .title-slider
    font-size: 30px
    line-height: normal
    strong
      font-size: 34px

  .article-slider
    padding: 45px 20px 30px

  .tabs__caption li
    margin: 0 25px 0 0
    padding: 0 0 16px
    font-size: 16px

  .footer-box
    margin: 0 0 34px
    h3
      font-size: 18px
      margin: 0 0 20PX

  .footer-menu li
    margin: 0 0 14px
    a
      font-size: 16px

  .footer-top .container
    justify-content: space-around

  .footer-item h3
    margin: 0 0 12px

  .footer-item:first-child
    margin-right: 0

  .header-dropDown.open
    width: 100%

/* Small Devices, Tablets */
@media only screen and (max-width : 830px)
  .ui-widget, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus
    border: none
    padding: 0

  .ui-selectmenu-button.ui-button
    min-width: auto

  .ui-button .ui-icon, .ui-button .ui-icon, .ui-state-hover .ui-icon, .ui-state-focus .ui-icon, .ui-button:hover .ui-icon, .ui-button:focus .ui-icon
    margin: 0 0 0 10px

  .ui-selectmenu-button.ui-button
    height: auto

  header
    margin: 0
    .schedule, .menu, .home-menu
      display: none
    .store-quantity
      margin: 0 auto


  .btn-burger
    display: flex

  .catalog-item
    width: 180px
    padding: 15px 20px
    font-size: 12px
    &:before
      width: 16px
      height: 16px
      margin: 0 10px 0 0
    &:after
      margin: 0 0 0 auto
      width: 8px
      height: 8px

  .form-search
    display: none

  .form-search-pc
    width: 100%
    position: absolute
    left: 0
    top: 0
    z-index: 2
    background: #F6F4F9
    label
      width: calc(100% - 88px)
      float: left
    input
      height: 46px
      padding: 0 20px 0 46px
      font-size: 12px
    button
      width: 88px
      font-size: 14px
      height: 46px
    .icon-search
      left: 20px
      width: 16px
      height: 16px

  .form-search-mobile
    display: flex
    width: calc(100% - 180px)

  .menu-dropDown__item, .menu-dropDown-submenu__item, .header-dropDown
    width: 100%

  .menu-dropDown-submenu
    position: relative
    left: 0
    top: 0


  .header-dropDown.open
    width: 100%

  .menu-dropDown-submenu-level2
    position: relative
    left: 0
    top: 0
    padding: 20px 35px
    width: 100%
    h3
      font-weight: normal
      margin: 0 0 15px
      font-size: 14px

  .list-manufacturers
    column-count: 1

  .menu-dropDown__links
    padding: 14px 20px

  .menu-dropDown__links:hover:after
    transform: rotate(0)

  .menu-dropDown__links:hover
    background: #fff

  .menu-dropDown-submenu__links
    padding: 14px 20px 14px 35px

  .menu-dropDown__item
    &:hover
      .menu-dropDown-submenu
        display: none

  .menu-dropDown-submenu__item
    &:hover
      .menu-dropDown-submenu-level2
        display: none

  .main-home .box-column
    width: 100%
    padding: 0

  .main-home
    .container
      padding: 0

  .main-home__slider
    width: 100%

  .main-home__slider-box
    height: auto
    padding: 60px 20px 92px

  .main-home__slider .slick-dots
    bottom: 35px
    padding: 0 20px

  .article-item
    order: 1
    margin: 0

  .brands
    padding: 50px 0
    .container
      justify-content: space-around

  .col-20
    width: 50%

  .advantages
    margin: 63px 0 0
    z-index: 1
    &:before
      display: none
    h2
      margin: 0 0 35px

  .advantages-box
    margin: 0 0 40px

  .advantages-box__icon
    margin: 0 auto 18px

  .about-content
    width: 100%
    padding: 0

  .about-img
    order: 1
    margin: 0 auto
    &:after
      right: -15px
      bottom: -15px

  .box-text p
    margin: 0 0 10px
    &:last-child
      margin: 0


@media only screen and (max-width : 768px)
  header
    .phones-wrapper, .store-quantity
      display: none

  .header-top
    padding: 16px 0

  .logo
    max-width: 122px

  .header-center
    padding: 18px 0 15px

  .basket-wrapper
    font-size: 10px

  .basket-value__sum
    font-size: 12px

  h2
    font-size: 23px

  .line-title
    margin: 0 0 20px

  .popular-category__box
    width: 260px
    height: 265px
    margin: 0 20px 25px 0

  .popular-category__box-content
    padding: 0 25px 25px

  .popular-category__box-name
    font-size: 20px
    margin: 0 0 12px

  .reviews
    padding: 30px 0 0

  .reviews-slider__box
    width: 258px
    height: 316px
    padding: 25px
    &:before
      width: 26px
      height: 21px
      top: 19px
      right: 17px
    .avatar
      width: 60px
      height: 60px
      min-width: 60px
    .name
      font-size: 14px
      margin: 0 0 3px
    .name-user
      padding: 0 0 0 18px
      width: calc(100% - 60px)

  .city-user
    font-size: 12px

  .reviews-slider__box-text
    font-size: 12px
    margin: 14px 0 0
    max-height: none

  .staff-slider__box
    margin: 0 22px 30px 0

  .reviews
    .line-title
      margin: 0 0 30px

  .staff
    padding: 0 0 50px
    h2
      max-width: 335px
    .line-title
      margin: 0 0 35px

  .footer-item, .footer-item:nth-child(3)
    margin: 0 0 25px
    
  .footer-item .phone-box
    text-align: left
    margin: 0 0 16px
    color: #71637C

/* Extra Small Devices, Phones */
@media only screen and (max-width : 700px)
  .about-content__numbers
    flex-direction: column
    align-items: center
    margin: 0 0 40px

  .about-content__number
    border: none
    margin: 0 auto 25px
    padding: 0
    text-align: center

@media only screen and (max-width : 575px)
  .row
    width: 100%
    margin: 0 auto

  .col-20
    width: 100%

  .products-tabs
    display: none

  .products-slider
    display: block
    .slick-center
      .product-card
        margin: 0 11px 23px

  .product-card
    height: 479px
    width: 258px
    margin: 11px 11px 23px
    &:hover
      .product-card__body
        height: 100%
      .btn-add-card
        display: none

  .product-card__photo
    height: 215px

  .tooltip-wrapper, .tooltip-box
    width: 32px
    height: 32px

  .tooltip-box
    padding: 6px

  .logo-company
    width: 64px
    height: 32px
    padding: 10px 8px

  .product-card__body-wrapper
    height: calc(100% - 215px)

  .list-characteristics-products
    margin: 13px 0
    padding: 13px 0
    li
      margin: 0 0 6px

  .product-card__body
    padding: 14px 20px 17px

  .mini-description-products
    font-size: 10px
    height: 28px
    min-height: 28px

  .name-products
    font-size: 14px

  .code-product, .box-sample
    display: none

  .price
    font-size: 18px

  .links-add-card
    display: flex
    align-items: center
    justify-content: center
    color: #F57600
    font-size: 12px
    font-weight: bold
    .icon-svg
      width: 17px
      height: 18px
      fill: $accent2
      margin: 0 10px 0 0

  .products-section
    .container
      padding: 0

  .tabs__caption
    padding: 0 0 0 20px
    li
      .icon-svg
        width: 18px
        height: 18px
        margin: 0 8px 0 0

  .tabs
    position: relative
    &:before
      content: ''
      position: absolute
      right: -15px
      top: 72px
      height: 36px
      width: 62px
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 70.31%)
      z-index: 1


  .footer-top .container
    flex-direction: column
    align-items: flex-start
    position: relative
    &:after
      content: ''
      position: absolute
      left: 50%
      transform: translate(-50%,0)
      bottom: 0
      width: calc(100% - 40px)
      height: 1px
      background: #433555

  .footer-bottom
    margin: 30px 0 0
    .container
      flex-direction: column
      align-items: flex-start

  .footer-item
    .company-name
      margin: 0
    &:first-child
      margin: 0 0 18px
    &:last-child
      margin: 0
      .list-social
        display: flex

  .links-doc, .list-social
    display: none
    margin: 0

  .list-social
    margin: 25px 0 0

  .list-address li
    margin: 0 0 10px

  .footer-bottom-line
    .links-doc
      display: block
      width: auto

  .copyright
    width: 100%
    margin: 28px auto
    text-align: center

  .btn-scroll-top
    margin: 0 auto

  .location-item
    font-size: 12px
    padding: 0
    border: none

  .dropDown-item:after
    margin: 0 0 0 10px

  .location-wrapper
    .menu-dropDown__links
      font-size: 12px

@media only screen and (max-width : 480px)
  .title-slider
    margin: 13px 0 10px
    font-size: 24px
    line-height: 120%
    strong
      font-size: 24px

  .main-home__slider-description
    font-size: 14px
    line-height: 150%

  .main-home__slider-box .btn
    margin: 28px 0 0

  .article-slider
    height: auto
    padding: 45px 20px 89px

  .article-item__content
    padding: 30px 20px

  .slick-arrow
    width: 30px
    height: 30px
    padding: 9px 11px
    box-shadow: 0px 6px 16px rgba(56, 41, 75, 0.33)

  .popular-category-slider, .reviews-slider, .staff-slider
    .slick-prev
      left: 5px
    .slick-next
      right: 5px

  .about-img
    max-width: 265px

  .staff-slider__box
    width: 258px
    height: 248px
    padding: 27px 25px

  .quote:before, .quote:after
    width: 30px
    height: 25px

  .quote
    font-size: 18px

  .avatar
    width: 40px
    height: 40px
    min-width: 40px

  .name-user
    width: calc(100% - 40px)
    padding: 0 0 0 10px
    font-size: 10px

  .staff:before
    height: 271px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

